body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    padding: 0;
    background-color: rgb(155, 155, 168);

}
.box {
    height: 100%;
    width: 100%;
}
.container{
    width: 65%;
    margin: auto;
    overflow: hidden;
}
header {
    background: whitesmoke;
    color: rgb(165, 165, 0);
    padding-top: 30px;
    min-height: 70px;
    border-bottom:black 3px solid
}
header a{
    color: blue
}
header ul{
    margin: 0;
    padding: 0;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: gray;
    font-weight: bold;
}

img {
    max-width: 100%;
    max-height: 100%;
}